-e .

black
invoke
jupyter
jupyterlab
ipywidgets
matplotlib
numpy
pandas
plotly
invoke
nbdime
pyjanitor
pyprojroot
dash
dash-bootstrap-components
kaleido
geojson_rewind
# git+git://github.com/PSLmodels/microdf.git